{% load static %}
{% block title %}<title>글 작성</title>{% endblock title %}

<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">


{% block content %}
<form method="POST" , enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}



    <!-- 
    {% for i in post_form %}


    <div class="form-wrapper">

        {% if i.label == "Title" %}

        <div class="title margin">제목</div>
        {% elif i.label == "Content" %}

        <div class="content margin">내용</div>
        {% elif i.label == "Myimage" %}

        <div class="myimage margin">그림 첨부</div>

        {% endif %}

        <div class="input-box">{{i}}</div>

    </div>
    {%endfor%}

    <input type="submit" value="작성 완료" class="submit_btn"> -->





    {% for i in post_form%}
    {% if i.label != "Myimage" %}

    <div class="form-wrapper">


        {% if i.label == "Title" %}

        <div class="title margin">제목</div>
        {% elif i.label == "Content" %}
        <div class="content margin">내용</div>

        {% endif %}

        <div class="input-box margin">{{i}}</div>

    </div>
    {%else%}

    <div class="myimage-wrapper">
        <div class="myimage-text">그림 첨부</div>
        <div class="input-image">{{i}}</div>

    </div>

    {%endif%}

    {%endfor%}

    <input type="submit" value="작성 완료" class="submit_btn">


</form>

{% endblock content %}