{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}<title>{{my_post}}</title>{% endblock title %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
{% endblock head %}



{% block content %}
<a href="{{ request.META.HTTP_REFERER }}">뒤로가기</a>
<br><br>제목: {{my_post.title}}
<br><br>내용 : {{my_post.content|safe}}

{% endblock content %}
