{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}<title>{{my_post}}</title>{% endblock title %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock head %}



{% block content %}
{% if user.is_authenticated %}
<div class="back"><a href="{{ request.META.HTTP_REFERER }}">뒤로가기</a></div>
<div class="category">{{my_post.category}}</div>

<div class="detail-wrapper">
    <div class="content-wrapper">
        {%if my_post.category.id == 2 %}
        <div class="user">익명</div>
        {% else %}
        <div class="user">{{my_post.writer}}</div>
        {% endif %}
        <div class="title"> {{my_post.title}}</div>
        <div class="content"> {{my_post.content|safe}}</div>
        {% if my_post.myimage %}
            <div class="image">
                <img src="{{my_post.myimage.url}}" title="첨부 이미지" alt="게시판 글 이미지">
            </div>
            {% endif %}
    </div>


    <div class="sub-wrapper">
        <div class="count-wrapper">
        <!-- 조회수 -->
            {% if my_post.writer == user.nickname %}
                <div class="delete-post"><a href="{% url 'delete_post' pk=my_post.id  %}">글 삭제</a></div>
            {% endif %}
            <div class="hit-count">
            {% load hitcount_tags %}
            조회수 {% get_hit_count for my_post within "days=7" %}
            </div> 
            <div class="like">
                
                <a href="{% url 'like_toggle' my_post.id  %}">
                   
                    {% if my_post in user.like_post.all %}
                    <img src="{% static 'yellow heart.png'%}">
                    {% else %}
                    <img src="{% static 'heart.png'%}">
                    {% endif %}
                    {{my_post.like_count}} 
                </a> 
               
            </div> 
        </div>
         
        <div class="time">{{my_post.updated_at}}</div>
         <!-- 해당 포스트 작성유저가 현재 요청된 유저의 닉네임과 같을때 -->
         
    </div>
  
        
        
       
    

    
</div>
<div class="comment-wrapper">

<form method="POST" action="{% url 'create_comment' my_post.id %}" class="comment-form">
    {% csrf_token %}
    
    {% for com in comment_form %}
    <div class="com-title">{{com.label}}</div>
  
    <div class="com-content">{{com}}</div>
    {% endfor %}
    <button type="submit" class="com-btn">작성</button>
    <input type="checkbox" id="checkbox" ><div class="check-text">익명</div>
   
</form>

<div class="com-wrapper">
    {% for comment in my_post.comment_set.all %}
   
    <div class="comment">
        <div class="com-body">{{comment.body}}</div>
        <div class="com-sub">
            <div class="comment-time">{{comment.created_at}}</div>
            <div class="recom-title">

            대댓글</div>
            {%if user.nickname == comment.writer %}
            <div class="mywriter"  id="writer">{{comment.writer}} (글쓴이)</div>
            <div class="delete-comment">
                <!-- 댓글 삭제 전 확인 알람 -->
                <a onclick="return confirm('댓글을 정말로 삭제하시겠습니까?');" href="{% url 'delete_comment' comment.id %}">삭제</a>
            </div>
           
            {%else%}
            <div class="writer" id="writer">{{comment.writer}}</div>
            {% endif %}
            
        </div>
        <form method="POST" action="{% url 'create_recomment' my_post.id comment.id %}" class="recomment-form">
            {% csrf_token %}
          
            <div class="recom-hidden">
                <div class="hidden-title">대댓글</div>
                <div class="hidden-content">{{recomment_form}}</div>
                <button type="submit" class="com-btn">작성</button>
                <input type="checkbox" id="checkbox"><div class="re-check-text">익명</div>
            </div>
           
        </form>
        
    </div>

   


    
        
        <div class="recom-wrapper">
            {% for recomment in comment.recomment.all %}
               
                <div class="recomment">💬 &nbsp &nbsp &nbsp {{recomment.body}}</div>
                <div class="recom-sub">
                    <div class="recomment-time">{{recomment.created_at}}</div>
                    
                    <!-- 요청된 유저가 해당 글쓴이와 같으면 -->
                    {%if user.nickname == recomment.writer %}
                    <div class="mywriter" id="writer">{{recomment.writer}} (글쓴이) </div>
                    <div class="delete-recomment">
                        <a onclick="return confirm('댓글을 정말로 삭제하시겠습니까?');" href="{% url 'delete_recomment' recomment.id %}">삭제</a>
                    </div>
                    <script>
                        var i = "{{recomment}}";
                        var hi = document.querySelector('.mywriter');
                        console.log(i);
                    </script>
                    {% else %}
                    <div class="writer" id="writer">{{recomment.writer}}</div>

                    
                    {% endif %}
                   

                </div>
            {% endfor %}
        </div>
   
    {% endfor %}
</div>
</div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
</script>
<script>


// 클릭시 대댓글
    let toggle = document.querySelectorAll('.comment')
    
    for(let i=0; i<toggle.length; i++) {
        $('.recom-title').eq(i).click(function(){
            $('.recomment-form').removeClass('active');
            $('.recomment-form').eq(i).addClass('active');
        });
    }

   
    



    

    // $('.com-btn').on('submit',function(e){
    //     if(this.checked){
    //         e.preventDefault();
    //         $("#writer").text("익명");
    //         this.submit();
    //     }
    // });

    // $(document).ready(function(){
    // $("#checkbox").change(function(e){         
    //         if($("#checkbox").is(":checked")){
    //             e.preventDefault();
    //            $("#writer").text("익명");
    //         }
    //     });

    // });


    











      
   
</script>




{% endblock content %}
