{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}<title>자유게시판</title>{% endblock title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/free.css' %}">
{% endblock head %}



{% block content %}
<h1>자유 게시판 </h1>
<p class="p"><a href="{% url 'free_create' %}">글 작성하기 </a></p>
<form method="POST" action="{% url 'search' %}">
    {%csrf_token%}
    <input type="search" placeholder="검색어를 입력하세요." aria-label="Search" name="post" value="{{post}}">
    <button type="submit">Search</button>

</form>
{% for post in page_obj %}
<div class="post">
    <a href="{% url 'free_detail' post.id %}">
        <div class="post_wrapper">
            <p>{{post.title}}</p>
            <p>{{post.content|safe}}</p>
            <!--filter safe -->
            <p>{% if post.myimage %}
                <img src="{{post.myimage.url}}"></p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}
<div class="paging">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; 맨 첫페이지로 가기</a>
        <a href="?page={{ page_obj.previous_page_number }}">이전으로</a>
        {% endif %}

        <span class="now">
            {{ page_obj.number }} 페이지
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">다음으로</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">맨 끝페이지로 가기 &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}