{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}<title>익명 게시판</title>{% endblock title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/free.css' %}">
{% endblock head %}



{% block content %}
<h1>익명 게시판 </h1>
{% for post in private_post %}
<a href="{% url 'free_detail' post.id %}">
    <div class="post_wrapper">
        <p>{{post.title}}</p>
        <p>{{post.content}}</p>
        <p>{% if post.myimage %}
            <img src="{{post.myimage.url}}"></p>
        {% endif %}
    </div>
</a>

{% endfor %}
{% endblock content %}