{% extends 'post_list.html' %}

{% block content %}

{% if my_post %}
<h1>내가 쓴 글</h1>
{% for post in page_obj %}
<div class="post_wrapper">
    <a href="{% url 'detail' post.id %}">
    <div class="title">{{post.title}}</div>
    <div class="content">{{post.content|safe}}</div>
    {% if post.myimage %}
    <div class="image">
        <img src="{{post.myimage.url}}" title="첨부 이미지" alt="게시판 글 이미지">
    </div>
    {% endif %}
   <div class="category">{{post.category}}</div>
    </a>
</div>
{% endfor %}
{% else %}
<h1>내가 쓴 글이 없습니다.</h1>
{% endif %}

{% endblock content %}