body,
html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-width: 320px;
    min-height: 571px;
    font-family: 'IBMPlexSansKR-Regular';

}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'IBMPlexSansKR-Regular';
}

/* *:active,*:hover,*:focus{
    color: black;
}

* a{
    color: black;
} */

nav {
    width: 100%;
    height: 200px;
}

/*카테고리 네브바*/
.category-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color:#F2AF5C;
    color: white;



}

.category-bar-logo {
   
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    
    width: 10%;


}

.category-bar-logo a{
    color:white;
}


.category-bar {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;

    width: 17%;


}

/*바텀 네브바*/

.nav-container {
    width: 90%;
    height: 70%;
    border-bottom: 1.5px solid#F2AF5C;
    display: flex;
    font-size: 1.4rem;
    margin: 0;
    padding-left: 10%;

}


.nav-item {
    display: flex;
    flex-direction: column;
    
    width: 19%;
    text-align: center;
}


.nav-item a {
    color: black;
    margin-top: 10px;
}


.nav-item a:hover {
    color: #F2AF5C;
}

/* 상속이 더 강하기 때문에 위에랑
똑같이 적어주어야함. 
nav-item 적어줘서 상속해줌.  */
.nav-item a.active {
    
    color:#F2AF5C;
    font-weight: bold;
}


/* 검색부분 */
.search-input{
    width: 20%;
    height: 100%;
    display: flex;
}


#search{
 border-style: none;
 width: 60%;
 height: 30px;
 border-radius: 5px;
 align-self: center;
 padding-left: 10px;

}

#search:focus{
    border: 2px solid #F28D52;
    border-radius: 5px;
    
}

input:focus::-webkit-input-placeholder {
    color: white;
  }




#search-btn{
  
    border-style: none;
    background-color:  #F2AF5C;
    color: white;
    background: url(search.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    width: 20%;
    height: 50%;
    align-self: center;

}


/* 인덱스 화면 부분 */
.container{
    width: 100%;
    display: flex;
}
/* 유저 프로필 부분 */
.user-profile{
    flex: 1;
    text-align: center;
    
    border: 1px solid #F2AF5C;
    border-radius: 2px;
    margin: 30px;
    padding-top:20px;
    height: 300px;
}

.user-img img{
    width: 35%;
    height: 35%;
}

.user-info{
    margin-top: 30px;
}

.user-nickname{
    margin-top: 10px;
    font-family: 'BMEULJIRO';
    font-size: x-large;
}

.user{
    font-size: medium;
    color: #555454;
}

.mypage-btn{
    display: flex;
    margin-top: 45px;
    padding: 0 10px;
}

.mypage-btn a{
    flex: 1;
    border: 1px solid #F2AF5C;
    border-radius: 5px;
    height: 45px;
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    
}


.mypage+.logout,.signup+.login{
    margin-left: 10px;
}

.mypage-btn a{
    color: black;
}

.mypage-btn a:hover{
    background-color:#F2AF5C;
    color: white;
    
}

.mypage-btn a:active{
    background-color:#F2AF5C;
    color: white;
    
}

.login-btn{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    padding: 0px 10%;
}

.login-btn a{
    flex: 1;
    border: 1px solid #F2AF5C;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    
}

.login-btn a{
    color: black;
}

.login-btn a:hover{
    background-color:#F2AF5C;
    color: white;
    
}

.login-btn a:active{
    background-color:#F2AF5C;
    color: white;
    
}

.plz-login{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15%;
}

/* 게시판 부분 */

.category-wrapper{
    flex: 3;
    
    width: 100%;
   
}

.category-post{
    border:1px solid #F2AF5C;
    width: 250px;
    display:block;
    height: 250px;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.category-title{
    border-bottom: 1px solid #F2AF5C;
    font-size:1.5rem;
    padding: 5% ;
}

.post_list{
    width: 90%;
    border-bottom: 1px solid #F2AF5C;
    padding: 5%;
    font-size: 1.2rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}



/* 인기 게시물 부분 */
.popular-post{
    flex: 1;
    flex-direction: column;
    border: 1px solid #F2AF5C;
    width: 250px;
    height: 350px;
    margin: 35px;
    
}

.popular-title{
    width: 90%;
    background-color: #F2AF5C ;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;
}

.popular-content{
    width: 90%;
    border-bottom: 1px solid #F2AF5C;
    padding: 5%;
    font-size: 1.3rem;
   

}

.post-title{
    width: 50%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

}

.post-category{
    font-size: 1.1rem;
    color: rgb(102, 101, 101);
}

/* 닉네임 수정폼  */

.update-form{
    width: 40%;
    height: 400px;
    margin:10% auto;
    text-align: center;
    font-size: 1.5rem;
    border: 1.5px solid#F2AF5C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



h1{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;
}

.form-title{
    font-size: 1.5rem;
    margin-bottom: 10%;
    font-weight: bold;
}

#id_nickname{
    border-style: none;
    border: 1px solid #F2AF5C;
    border-radius: 5px;
    padding: 5%;
}

.form-content{
    margin-bottom: 10%;
    
    }

#submit-btn{
    border-style: none;
    background-color:#F2AF5C;
    height: 35px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.message{
    margin-bottom: 5%;
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
}

.return-mypage{
    border-radius: 5px;
    background-color:#F2AF5C;
    height: 45px;
    width: 15%;
    display: flex;
    font-size: 1.5rem;
    margin:0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.return-mypage a{
    color: white;
    
}

/* 비밀번호 재설정 부분 */

p{
    color: rgb(100, 100, 100);
    margin-bottom: 10%;
}

#id_email,#id_new_password1,#id_new_password2,#id_username,#id_password,#id_password1,#id_password2
{
    border-style: none;
    border: 1px solid #F2AF5C;
    border-radius: 5px;
    padding: 5%;
}

/* 로그인 부분 */

.link-btn{
    margin: 5% 0;
}

.login-title{
    font-size: 1.5rem;
    margin: 5% 0;
}

#login-btn{
    border-style: none;
    color: white;
    border-radius: 5px;
    background-color:#F2AF5C;
    height: 45px;
    width: 15%;
    display: flex;
    font-size: 1.5rem;
    margin:5% auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 40%;
    height: 500px;
    margin:10% auto;
    text-align: center;
    font-size: 1.5rem;
    border: 1.5px solid#F2AF5C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up{
    margin-bottom: 5%;
}

.link-btn a{
    color: #3f3f3f;
    
}

/* 회원가입 폼  */

.sign-up-form{

    width: 40%;
    height: 700px;
    margin:5% auto;
    text-align: center;
    font-size: 1.5rem;
    border: 1.5px solid#F2AF5C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-group{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10%;
    margin-bottom: 10%;
}

.form-group+.form-group{
    margin-top: 5%;
}

.help-text{
    margin-top: 5%;
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
}

.signup-btn{
    margin-top: 5%;
    border-style: none;
    background-color: #F2AF5C;
    color: white;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

#signup-title{
    margin-right: 10px;
}

.form-group-error{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.help-block{
    margin-top: 5%;
}