body,
html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-width: 320px;
    min-height: 571px;

}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    list-style: none;
    text-decoration: none;
}

/* .content{

    width: 200px; 
    height: 200px; 
    border: 1px solid black; 
    border-radius: 2px;
    display: inline-flex;
    
    text-align: center;
    justify-content: center;
    margin : 100px 10px 10px 0px;       위오른쪽아래왼쪽
    


} */
/* a{
    padding: 10px;
    text-decoration : none;
}
p{
    font-family: 'IBMPlexSansKR-Regular';
    
} */

nav {
    width: 100%;
    height: 200px;
}

/*카테고리 네브바*/
.category-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #A2C0A4;
    color: white;



}

.category-bar-logo {
    font-size: 1.6rem;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;

    width: 10%;


}

.category-bar {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;

    width: 17%;


}

/*바텀 네브바*/

.nav-container {
    width: 100%;
    height: 65%;
    border-bottom: 2px solid #A2C0A4;
    display: flex;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;

}



.community,
.promotion,
.impormation,
.life {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: center;

    margin-left: 3%;
    padding-top: 10px;
}

.community {
    padding-left: 8%;

}

.promotion,
.impormation,
.life {
    margin-left: 2%;
}

.nav-item {
    width: 100%;
    height: 20%;
    text-align: center;
}


.nav-item a {
    color: black;
}


.nav-item a:hover {
    color: #A2C0A4;
}