body,
html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-width: 320px;
    min-height: 571px;
    font-family: 'IBMPlexSansKR-Regular';

}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'IBMPlexSansKR-Regular';
}



nav {
    width: 100%;
    height: 200px;
}

/*카테고리 네브바*/
.category-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #A2C0A4;
    color: white;



}

.category-bar-logo {
   
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    
    width: 10%;


}

.category-bar-logo a{
    color:white;
}


.category-bar {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;

    width: 17%;


}

/*바텀 네브바*/

.nav-container {
    width: 90%;
    height: 70%;
    border-bottom: 2px solid #A2C0A4;
    display: flex;
    font-size: 1.4rem;
    margin: 0;
    padding-left: 10%;

}


.nav-item {
    display: flex;
    flex-direction: column;
    
    width: 19%;
    text-align: center;
}


.nav-item a {
    color: black;
    margin-top: 10px;
}


.nav-item a:hover {
    color: #A2C0A4;
}

/* 상속이 더 강하기 때문에 위에랑
똑같이 적어주어야함. 
nav-item 적어줘서 상속해줌.  */
.nav-item a.active {
    
    color: #A2C0A4;
    font-weight: bold;
}


/* 검색부분 */

form{
    width: 20%;
    height: 100%;
    display: flex;
}


#search{
 border-style: none;
 width: 60%;
 height: 30px;
 border-radius: 5px;
 align-self: center;
 padding-left: 10px;

}

#search:focus{
    border: 2px solid rgb(202, 202, 202);
    border-radius: 5px;
    
}

input:focus::-webkit-input-placeholder {
    color: white;
  }

#search-btn{
  
    border-style: none;
    background-color:  #A2C0A4;
    color: white;
    background: url(search.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    width: 20%;
    height: 50%;
    align-self: center;

}




