body,
html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-width: 320px;
    min-height: 571px;
    font-family: 'IBMPlexSansKR-Regular';

}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 글 부분 */
.back {
    width: 100%;
   
    margin-top: 10px;

    font-size: 1.5rem;
}

.back a{
    padding-left: 5%;
}
.back a:link {
    color: black;
}

.back a:visited {
    color: black;
}

.back a:hover {

    color: black;
}

.back a:active {

    color: black;
}

.category {
    font-size: 3rem;
    text-align: center;
    margin: 5% 0;
}

.detail-wrapper {
    margin: 10% auto;
    display: flex;
    width: 80%;
    font-size: 1.5rem;
    border: rgb(129, 129, 129) 1px solid;

}

.sub-wrapper {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    width: 20%;
}

.count-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
}



.user {
    font-size: 2rem;
    margin: 10px 30px;
    
}

.time {
    color: rgb(90, 89, 89);
    margin-left: auto;
    flex: 1;
    margin-right: 5%;
   

}


.content-wrapper {
  
    width: 80%;
}

.title
 {
    
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    margin: 10px 30px;
}

.content{
    
    font-size: 2rem;
    width: 100%;
    margin: 10px 30px;
    
}

.delete-post{
    margin-right: 5%;
}

.delete-post a{
    color: black;
}

.delete-text{
    font-size: 3rem;
    text-align: center;
    margin-top: 15% ;
    margin-bottom: 5%;
}

.btn-wrapper{
    text-align: center;
}

.btn-wrapper a{
    margin-left: 5%;
    color: black;
}

.delete-btn{
    border-style: none;
    color: white;
    background-color: #F2AF5C;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    width: 10%;
    height: 35px;
    border-radius:5px ;
    font-size: 1.5rem;
}

.like a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.like img{
    width: 15px;
    height: 15px;
    align-items: center;
    margin-right: 5px;
}


/* 댓글부분 */

.comment-form{
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    
}

.com-title{
    margin-left: 13%;
    margin-right: 10%;
}