body,
html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-width: 320px;
    min-height: 571px;
    font-family: 'IBMPlexSansKR-Regular';

}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 글 부분 */
.back {
    width: 100%;
   
    margin-top: 10px;

    font-size: 1.5rem;
}

.back a{
    padding-left: 5%;
}
.back a:link {
    color: black;
}

.back a:visited {
    color: black;
}

.back a:hover {

    color: black;
}

.back a:active {

    color: black;
}

.category {
    font-size: 3rem;
    text-align: center;
    margin: 5% 0;
}

.detail-wrapper {
    margin: 10% auto;
    margin-bottom: 0;
    display: flex;
    width: 80%;
    font-size: 1.5rem;
    border: rgb(129, 129, 129) 1px solid;

}

.sub-wrapper {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    width: 20%;
}

.count-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
}



.user {
    font-size: 1.5rem;
    margin: 10px 30px;
    
}

.time {
    color: rgb(90, 89, 89);
    margin-left: auto;
    flex: 1;
    margin-right: 5%;
   

}


.content-wrapper {
  
    width: 80%;
}

.title
 {
    
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    margin: 10px 30px;
}

.content{
    
    font-size: 2rem;
    width: 100%;
    margin: 10px 30px;
    
}

.delete-post{
    margin-right: 5%;
}

.delete-post a{
    color: black;
}

.delete-text{
    font-size: 3rem;
    text-align: center;
    margin-top: 15% ;
    margin-bottom: 5%;
}

.btn-wrapper{
    text-align: center;
}

.btn-wrapper a{
    margin-left: 5%;
    color: black;
}

.delete-btn{
    border-style: none;
    color: white;
    background-color: #F2AF5C;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    width: 10%;
    height: 35px;
    border-radius:5px ;
    font-size: 1.5rem;
}

.like a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.like img{
    width: 15px;
    height: 15px;
    align-items: center;
    margin-right: 5px;
}


/* 댓글부분 */

.comment-wrapper{
    margin: 10% auto;
    margin-top:0;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.5rem;
    border: rgb(129, 129, 129) 1px solid;
    border-top:none;
}

.comment-form{
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5% 0;
}


.mywriter{
    color: #F28D52;
    font-weight:600;
}

.delete-comment a{
    color:  rgb(129, 129, 129);
}


.com-title{
    margin-left: 13%;
    
    width: 20%;
    
}

.com-content{
    width: 55%;

}

.com-content #id_body{
    width: 95%;
    height: 30px;
}

.com-btn{
    width: 10%;
    margin-left: 5%;
    background-color:#F2AF5C ;
    border-style: none;
    border-radius: 5px;
    height: 35px;
    color: white;
    cursor: pointer;
}

#checkbox{
    width: 5%;
}

.check-text{
    width: 10%;
}

.comment{
  
    border-top: 1px solid  rgb(129, 129, 129);
}





#re-checkbox{
    width: 5%;
    
}

.re-check-text{
    width: 10%;
    font-weight: bold;
    font-size: 1.3rem;
}

.com-body{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
}

.com-sub{
    display: flex;
    margin-bottom: 5%;
}

.com-sub div+div{
    margin-right: 5%;
}

.comment-time{
    margin-left: auto;
    margin-right: 5%;
}

.recom-title{
    cursor: pointer;
    
}

.recomment-form{
    display: flex  ;
}


.recomment-time{
    margin-left: auto;
    margin-right: 5%;
}

.recom-wrapper{
    margin-left: 10%;
}

.hidden{
    display: none;
    width: 100%;
}

.recom-hidden{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
   
}

.hidden-title{
    width: 15%;
    text-align: center;
}
.hidden-content{
    width: 60%;
}

.hidden-content #id_body{
    width: 95%;
    height: 35px;

}

.recom-sub{
    display: flex;
    margin-bottom: 5%;
    
}

.recom-sub div+div{
    margin-right: 5%;
}

.delete-recomment a{
    color: rgb(129, 129, 129);
}