body,
html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-width: 320px;
    min-height: 571px;
    font-family: 'IBMPlexSansKR-Regular';

}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.post_wrapper {

    display: flex;
    margin: 10px auto;
    padding: 0px 40px;
    width: 80vw;
    height: 15vh;
    border: 1px solid rgb(105, 105, 105);
    font-size: 1.3rem;
 
}



/* .post_wrapper p {
    
   font-size: 1.5rem;
  
   
} */

.post_wrapper a{
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
   
}

.title{
    width: 15%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

}


.content{
    padding-left: 10%;
    width: 60%; 
   
}

.content p{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

}

.image{
    padding-left: 5%;
    width: 70px;
    height: 70px;
    align-items: center;
    object-fit: cover; 
}


.image>img {
    
   
    width: 70px;
    height: 70px;
}

h1 {

 
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;


}


a {
    text-decoration: none;
}

/* 글작성하기 부분 */
.p {
    margin-left: 80%;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

}

.p a:link {
    color: black;
}

.p a:visited {
    color: black;
}

.p a:hover {

    color: #949494;
}

.p a:active {

    color: #949494;
}

/* 
게시물 링크 색깔 */
.post,.post_wrapper a:link {

    color: #000000;
}

.post,.post_wrapper a:visited {

    color: #949494;
}


.post,.post_wrapper a:hover {

    color: #949494;
}

.post,.post_wrapper a:active {

    color: #333333;
}


.paging {
    margin: 40px 0;
    font-size: 15px;
    width: 100%;
    
}

.step-links{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  
}

.current{
    margin: 0 10px;
}




