{% extends 'base.html' %}
{% block content %}
<h1>로그인 하기</h1>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">로그인</button>
</form>
<!-- 로그인 관련 실패 에러창 메세지 -->
{% if messages %}

    {% for message in messages %}
        {% if meesage.tags %}
        {{message.tags}}
        {% endif %}
        {{ message }}
    {% endfor %}
{% endif %}


<p><a href="{% url 'signup' %}">아직 회원이 아니시라면?</a></p>
<a href="{% url 'password_reset' %}">비밀번호를 까먹으셨나요?</a>
{% endblock %}