{% extends 'base.html' %}


{% block content %}
  <h1>비밀번호 새로 생성하기</h1>
 

  <form method="POST" class="update-form">
    <p class="help-p">이메일을 입력해주시면, 메일로 재설정 링크를 보내드립니다.</p>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group{% if field.errors %}-error{% endif %}">
      <div class="form-title">{{ field.label}}</div>
      <div class="form-content">{{ field }}</div>
    </div>
   
      {% if  field.errors %}
        {% for error in  field.errors %}
        <div class="help-block">{{ error }}</div>
        {% endfor %}
      {% endif %}

    {% endfor %}
   

    
 

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="text-danger"><b>{{ error }}</b></p>
    {% endfor %}
    {% endif %}
    <button type="submit" id="submit-btn">재설정 메일 보내기</button>
  </form>

  {% endblock %}


