{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% block title %}{% endblock title %}
</head>
{% endblock head %}

<body>


    {% block sidebar %}

    <nav>
      
        <ul class="category-container">
            <li class="category-bar-logo">
               <a href="{% url 'index' %}">홈/로고</a>
            </li>
       {% comment %} 
      

       {% endcomment %}

       {% for category in categories %}  
                <li class="category-bar">
                {{ category }}
                </li>
                {% endfor %}
                   
        </ul>
               
                   
              
        
                
        <ul class="nav-container">
                   
            {% for category in categories %} 
            <div class="nav-item">
                {% for mini_category in category.mini_category.all %}  
            
                    <a href="{% url 'post_list' mini_category.id %}">{{mini_category.title}}</a>
                {% endfor %}
                  </div> 
            {% endfor %}
                     
                    
            
            
            </ul>
           
            

    
  
  
         
    

    </nav>
    {% endblock sidebar %}
    {% block content %}

    {% endblock content %}




</body>

</html>