{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% block title %}{% endblock title %}
</head>
{% endblock head %}

<body>



    {% block sidebar %}

    <nav>
        <ul class="category-container">
            <li class="category-bar-logo">
               <a href="{% url 'index' %}">홈/로고</a>
            </li>
            <li class="category-bar">
              {% for category in categories %}
              {{category}}
              {% endfor %}
            </li>
          
        </ul>

        <ul class="nav-container">
            {% for mini_category in mini_categories %}   
            <div class="nav-item">
             
                <a href="{% url 'post_list' mini_category.id %}">{{mini_category}}</a> 
            
            </div>
            {% endfor %}

      

           
        </ul>
    </nav>
    {% endblock sidebar %}
    {% block content %}

    {% endblock content %}




</body>

</html>